html {

    background-color: lightslategray;
}

html,body{
    height:100vh;
    margin: 0;
    padding: 0;
}

h2 {
    position: relative;
    margin: 5px 40px;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: rgba(100, 100, 100, .5);
    border-radius: 10px;
}

#credits {
    color: white;
    text-align: center;
    position: relative;
    padding: 5px 10px 10px 10px ;
    z-index: 551;
    width: 250px;
    height: 10px;
    overflow: hidden;
    margin: 0 auto;
    transition: .5s;
    background-color: rgba(100, 100, 100, .7);
    border-radius: 10px;
}

#credits:hover {
    height: 270px;
}

i {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    margin: 0 5px;
    margin-bottom: 2px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: 5s;
    z-index: -1000;
}

#bgback {
    background-image: url("backgrounds/bgimage-9.jpg");
    opacity: 1;
}

#bgfront {
    background-image: url("backgrounds/bgimage-10.jpg");
    opacity: 0;
}

audio {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 1;
    pointer-events: all;
  }
