
html,body{
    height:100vh;
    margin: 0;
    padding: 0;
}

p, h2 {
    position: relative;
    margin: 5px 20px;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: rgba(100, 100, 100, .7);
    border-radius: 10px;
}
h2 {
    margin: 5px 30px;
}

p {
    z-index: 551;
}

audio {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 1;
    pointer-events: all;
  }

body {
    background-size: cover;
    transition: 5s;
}
